{% extends 'global/index.html' %}
{% load static %}

{% block titulo %}
  Biblio | Listado de Administradores
{% endblock titulo %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% block body %}

  {% if clientes %}
      <div class="card-header">
    <strong class="card-title">Listado de Clientes Registrados</strong>
    </div>
      <div class="table-stats order-table ov-h">
    <table id="cliente" class="table table-striped" style="width:100%">
        <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Dirección</th>
                  <th>Numero de telefono</th>
                  <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
                <tr>
                  <td>{{ cliente.id }}</td>
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.apellidos }}</td>
                  <td>{{ cliente.direccion }}</td>
                  <td>{{ cliente.telefono }}</td>
                  <td>
                    <a href="{% url 'global:editar_cliente' cliente.id %}" class="btn btn-warning fa fa-pencil-square-o fa-2x" aria-hidden="true"></a>
                    <a href="{% url 'global:eliminar_cliente' cliente.id %}" class="btn btn-danger fa fa-trash fa-1x" aria-hidden="true"></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
    </table>
      </div>
  {% else %}

  <h1>Aun no existen clientes registrados favor de registrar uno</h1>


{% endif %}
    <script type="application/javascript">
    $(document).ready(function() {
        $.noConflict(); {# Este pequeño codigo es el que hace que toda la datatable funcione https://api.jquery.com/jquery.noconflict/ #}
    $('#cliente').DataTable({
        responsive: true,
        "language": {
            url : '{% static 'lib/spanish.txt' %}'
        }
    });
    });
</script>
{% endblock %}