{% extends 'global/index.html' %}
{% load static %}

{% block titulo %}
Listado de Aparatos en venta
{% endblock titulo %}

{% block body %}
<div>
  <button class="btn btn-primary fa fa-plus fa-lg" aria-hidden="true" type="button" onclick="abrir_modal_creacion('{% url 'global:crear_aparato' %}')">  Crear Aparato</button>
</div>
{% if aparatos %}
<div class="card">
  <div class="card-header">
    <strong class="card-title">Listado de Aparatos en venta</strong>
  </div>
  <div class="table-stats order-table ov-h">
    <table class="table">
      <thead>
        <tr>
            <th>ID</th>
          <th>Tipo</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio venta</th>
          <th>stock</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for aparato in aparatos %}
        <tr>
          <td>{{ aparato.id }}</td>
          <td>{{ aparato.tipo }}</td>
          <td>{{ aparato.nombre }}</td>
          <td>{{ aparato.descripcion }}</td>
          <td>{{ aparato.precio_venta }}</td>
          <td>{{ aparato.stock }}</td>
            <td>
            <a href="{% url 'global:eliminar_aparato' aparato.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
            <button type=button onclick="abrir_modal_edicion('{% url 'global:editar_aparato' aparato.id %}')" class="btn btn-warning btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<h1>No existen aparatos registrados porfavor registre uno en el boton nuevo</h1>
{% endif %}

<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

{% endblock body %}

{% block extrajs %}
<script src="{% static 'js/crear_server.js' %}"></script>
{% endblock extrajs %}