{% extends 'global/index.html' %}
{% load static %}

{% block titulo %}
Listado de Aparatos en venta
{% endblock titulo %}


{% block body %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Aparatos</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    DataTables is a third party plugin that is used to generate the demo table below. For more
                    information about DataTables, please visit the
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Lista de clientes Registrados
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Dirección</th>
                                <th>Telefono</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cliente in clientes %}
                                <tr>
                                    <td>{{ cliente.id }}</td>
                                    <td>{{ cliente.nombre }}</td>
                                    <td>{{ cliente.apellidos }}</td>
                                    <td>{{ cliente.direccion }}</td>
                                    <td>{{ cliente.telefono }}</td>
                                    <td>
                                        <button id="{{ cliente.id }}" type="button" class="btn btn-danger btn-xs" onclick="eliminar(this.id)"><i class="fa fa-trash"></i></button>
                                        <a href="{% url 'global:editar_cliente' cliente.id %}" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            <div id="{{ cliente.id }}a" class="modal" tabindex="-1" role="dialog" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Eliminar Compra</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Al eliminar la compra el registro se removera, esta accion no se puede deshacer</p>
                                            <p>¿Desea continuar?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'global:eliminar_cliente' cliente.id %}"><button type="button" class="btn btn-danger">Confirmar</button></a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        function eliminar(id) {
        $(document).ready(function () {
            $('#'+id).ready(function () {
                $('#'+id+'a').modal('show');//básico
            });
        });
    }

    </script>

{% endblock %}