{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="{% url 'global:login_global' %}">
      {% csrf_token %}
      {{ form.username }}
      {{ form.password }}
      <button type="submit">Logearce</button>
        <p class="message"> Eres usuario? <a href="{% url 'login' %}">Inicia sesion aqui</a></p>
    </form>
  </div>
    <div class="form-group">
        {% if errores %}
           <div id="form_error" class="alert alert-danger alert-dismissible fade in col-sm-offset-1 col-sm-5">{{errores}}</div>
        {% else %}
           <div id="form_error" class="col-sm-offset-1 col-sm-5"></div>
        {% endif %}
    </div>
</div>
</body>
</html>