{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Electronica San Bruno</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

    {% if form.errors %} <!-- MML se imprimen los errores del formulario-->
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% endif %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'images/bg-01.jpg' %});">
					<span class="login100-form-title-1">
						Inicio de Sesión
					</span>
				</div>

				<form class="login100-form validate-form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for field in form %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">{{ field.label }}</span>
						{{ field }}
						<span class="focus-input100"></span>
					</div>
                    {% endfor %}

					<div class="flex-sb-m w-full p-b-30">

						<div>
							<a href="#" class="txt1">
								Eres admin? inicia sesion aqui
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn fa fa-sign-in" aria-hidden="true">
							Iniciar sesión
						</button>
					</div>
				</form>
			</div>
		</div>
        <script type="application/javascript">
        {% if form.errors %} <!-- MML se imprimen los errores del formulario-->
        var errors = '';
        {% for field in form.errors %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
                console.log("hola",errors)
            {%  endfor %}
        {% endfor %}
            Swal.fire({
              title: 'Nombre y/o contraseña incorrectos',
              text: errors,
              icon: 'error',
              confirmButtonText: 'OK'
            })
        {%  endif %}
        </script>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>



</body>
</html>